name: Build Docker Image

on:
  #push:
  #  branches: [ main ]
  #pull_request:
  #  branches: [ main ]
  workflow_dispatch:
  repository_dispatch: 

jobs:
  maven_build:
    name: Maven Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Build with Maven
        run: mvn -B package --file pom.xml

      - name: Upload Artifact
        uses: actions/upload-artifact@v2.2.4
        with:
          name: linux
          path: /home/runner/work/TestApplication/TestApplication/

  docker_build:
    name: Docker Build
    runs-on: ubuntu-latest
    needs: [maven_build]
    steps:

      - name: Download Artifact
        uses: actions/download-artifact@v2.0.10
        with:
          name: linux
      - name: Build Build
        run: docker build -t deepakindocker/testapplication .

      - name: Build Login
        run: docker login --username deepakindocker --password ${{secrets.DOCKER_PASSWORD}}

      - name: Docker Push
        run: docker push deepakindocker/testapplication
